# OpenTofu / Terraform
.terraform/
.terraform.lock.hcl

# Fichiers d'état
terraform.tfstate
terraform.tfstate.*

# Crash logs
crash.log
crash.*.log
*.log

# Variables sensibles
*.tfvars
*.tfvars.json
secrets.auto.tfvars

# Fichiers temporaires 
*.tmp
